In [1]:
pip install yfinance --upgrade --no-cache-dir

Requirement already satisfied: yfinance in /opt/miniconda3/lib/python3.12/site-packages (0.2.48)
Collecting yfinance
  Downloading yfinance-0.2.54-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (3.17.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/miniconda3/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/miniconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/miniconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/miniconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/miniconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/miniconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2024.2.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Downloading yfinance-0.2.54-py2.py3-none-any.whl (108 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 108.7/108.7 kB 3.5 MB/s eta 0:00:00
Installing collected packages: yfinance
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.2.48
    Uninstalling yfinance-0.2.48:
      Successfully uninstalled yfinance-0.2.48
Successfully installed yfinance-0.2.54
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
data = yf.download("AAPL", start="2014-01-02", end="2024-11-20")
data

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2014-01-02   17.215370   17.336752   17.180823   17.294736  234684800
2014-01-03   16.837215   17.233106   16.820097   17.206963  392467600
2014-01-06   16.929033   17.018357   16.607527   16.727353  412610800
2014-01-07   16.807961   16.992211   16.741979   16.941169  317209200
2014-01-08   16.914410   16.979768   16.765951   16.769684  258529600
...                ...         ...         ...         ...        ...
2024-11-13  224.872757  226.401075  222.515348  223.763975   48566200
2024-11-14  227.969360  228.618640  224.752895  224.772878   44923900
2024-11-15  224.752884  226.670773  224.023690  226.151340   47923700
2024-11-18  227.769577  229.487689  224.922701  225.002615   44686000
2024-11-19  228.029282  229.907222  226.411066  226.730706   36211800

[2740 rows x 5 columns]

In [9]:
data.index

DatetimeIndex(['2014-01-02', '2014-01-03', '2014-01-06', '2014-01-07',
               '2014-01-08', '2014-01-09', '2014-01-10', '2014-01-13',
               '2014-01-14', '2014-01-15',
               ...
               '2024-11-06', '2024-11-07', '2024-11-08', '2024-11-11',
               '2024-11-12', '2024-11-13', '2024-11-14', '2024-11-15',
               '2024-11-18', '2024-11-19'],
              dtype='datetime64[ns]', name='Date', length=2740, freq=None)

In [33]:
data = yf.download(["AAPL", "AMD"], start="2014-01-02", end="2024-11-20", progress=False)

DEBUG:yfinance:Entering download()
DEBUG:yfinance:Disabling multithreading because DEBUG logging enabled
DEBUG:yfinance: Entering history()
DEBUG:peewee:('SELECT "t1"."key", "t1"."value" FROM "_kv" AS "t1" WHERE ("t1"."key" = ?) LIMIT ? OFFSET ?', ['AAPL', 1, 0])
DEBUG:yfinance:  Entering history()
DEBUG:yfinance:AAPL: Yahoo GET parameters: {'period1': '2014-01-02 00:00:00-05:00', 'period2': '2024-11-20 00:00:00-05:00', 'interval': '1d', 'includePrePost': False, 'events': 'div,splits,capitalGains'}
DEBUG:yfinance: Entering history()
DEBUG:peewee:('SELECT "t1"."key", "t1"."value" FROM "_kv" AS "t1" WHERE ("t1"."key" = ?) LIMIT ? OFFSET ?', ['AMD', 1, 0])
DEBUG:yfinance:  Entering history()
DEBUG:yfinance:AMD: Yahoo GET parameters: {'period1': '2014-01-02 00:00:00-05:00', 'period2': '2024-11-20 00:00:00-05:00', 'interval': '1d', 'includePrePost': False, 'events': 'div,splits,capitalGains'}
ERROR:yfinance:
2 Failed downloads:
ERROR:yfinance:['AAPL', 'AMD']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')
DEBUG:yfinance:['AAPL', 'AMD']: Traceback (most recent call last):
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/site-packages/requests/models.py", line 971, in json
    return complexjson.loads(self.text, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/json/__init__.py", line 346, in loads
    return _default_decoder.decode(s)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/json/decoder.py", line 337, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/json/decoder.py", line 355, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/site-packages/yfinance/multi.py", line 268, in _download_one
    data = Ticker(ticker).history(
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/site-packages/yfinance/utils.py", line 104, in wrapper
    result = func(*args, **kwargs)
             ^^^^^^^^^^^^^^^^^^^^^
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/site-packages/yfinance/base.py", line 80, in history
    return self._lazy_load_price_history().history(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/site-packages/yfinance/utils.py", line 104, in wrapper
    result = func(*args, **kwargs)
             ^^^^^^^^^^^^^^^^^^^^^
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/site-packages/yfinance/scrapers/history.py", line 185, in history
    data = data.json()
           ^^^^^^^^^^^
  File "/Users/apple/anaconda3/envs/my-env/lib/python3.12/site-packages/requests/models.py", line 975, in json
    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

DEBUG:yfinance:Exiting download()